[submodule "integration/SoundUNder_ag"]
	path = integration/SoundUNder_ag
	url = git@github.com:swarch2023i/SoundUNder_ag.git
[submodule "logic/SoundUNder_auth_ms"]
	path = logic/SoundUNder_auth_ms
	url = git@github.com:swarch2023i/SoundUNder_auth_ms.git
[submodule "logic/SoundUNder_library_ms"]
	path = logic/SoundUNder_library_ms
	url = git@github.com:swarch2023i/SoundUNder_library_ms.git
[submodule "logic/SoundUNder_analysis_ms"]
	path = logic/SoundUNder_analysis_ms
	url = git@github.com:swarch2023i/SoundUNder_analysis_ms.git
[submodule "logic/SoundUNder_audio_ms"]
	path = logic/SoundUNder_audio_ms
	url = git@github.com:swarch2023i/SoundUNder_audio_ms.git
[submodule "apps/SoundUNder_wa"]
	path = apps/SoundUNder_wa
	url = git@github.com:swarch2023i/SoundUNder_wa.git
[submodule "apps/SoundUNder_ma"]
	path = apps/SoundUNder_ma
	url = git@github.com:swarch2023i/SoundUNder_ma.git
[submodule "mq/SoundUNder_mq"]
	path = mq/SoundUNder_mq
	url = git@github.com:swarch2023i/SoundUNder_mq.git
[submodule "logic/SoundUNder_search_msProv"]
	path = logic/SoundUNder_search_msProv
	url = git@github.com:jzmendezl/SoundUNder_search_msProv.git
[submodule "security/rps/SoundUNder_rps"]
	path = security/rps/SoundUNder_rps
	url = git@github.com:swarch2023i/SoundUNder_rps.git
[submodule "security/SoundUNder_ldap"]
	path = security/SoundUNder_ldap
	url = git@github.com:swarch2023i/SoundUNder_ldap.git
[submodule "interface/SoundUNder_int"]
	path = interface/SoundUNder_int
	url = git@github.com:swarch2023i/SoundUNder_int.git
