[submodule "integration/SoundUNder_ag"]
	path = integration/SoundUNder_ag
	url = git@github.com:swarch2023i/SoundUNder_ag.git
[submodule "logic/SoundUNder_auth_ms"]
	path = logic/SoundUNder_auth_ms
	url = git@github.com:swarch2023i/SoundUNder_auth_ms.git
[submodule "logic/SoundUNder_library_ms"]
	path = logic/SoundUNder_library_ms
	url = git@github.com:swarch2023i/SoundUNder_library_ms.git
[submodule "logic/SoundUNder_analysis_ms"]
	path = logic/SoundUNder_analysis_ms
	url = git@github.com:swarch2023i/SoundUNder_analysis_ms.git
[submodule "logic/SoundUNder_audio_ms"]
	path = logic/SoundUNder_audio_ms
	url = git@github.com:swarch2023i/SoundUNder_audio_ms.git
[submodule "logic/SoundUNder_search_ms"]
	path = logic/SoundUNder_search_ms
	url = git@github.com:swarch2023i/SoundUNder_search_ms.git
[submodule "apps/SoundUNder_wa"]
	path = apps/SoundUNder_wa
	url = git@github.com:swarch2023i/SoundUNder_wa.git
[submodule "apps/SoundUNder_ma"]
	path = apps/SoundUNder_ma
	url = git@github.com:swarch2023i/SoundUNder_ma.git
[submodule "mq/SoundUNder_mq"]
	path = mq/SoundUNder_mq
	url = git@github.com:swarch2023i/SoundUNder_mq.git
